.container-bottom {
  position: absolute;
  bottom: 38px;
  left: 22.5%;
  width: 55%;
  height: 286px;
  .swipter-container {
    width: 148px;
    height: 200px;
    background: #000;
    margin: 10px 20px 0 0;
    img {
      height: 100%;
    }
  }
  .right-container {
    .item-container {
      margin-bottom: 12px;
      .catagory {
        display: inline-block;
        width: 64px;
        height: 24px;
        background: linear-gradient(128deg, #01c69a 0%, #0099ac 100%);
        border-radius: 6px;
        text-align: center;
        margin-top: 10px;
        &.active {
          background: linear-gradient(128deg, #1884d5 0%, #0066ac 100%);
        }
        span {
          width: 52px;
          height: 18px;
          font-family:
            PingFangSC,
            PingFang SC;
          font-weight: 500;
          font-size: 13px;
          color: #ffffff;
          line-height: 24px;
          text-align: center;
          font-style: normal;
        }
      }
      .title {
        display: inline-block;
        width: 163px;
        height: 24px;
        margin-left: 8px;
        font-family:
          PingFangSC,
          PingFang SC;
        font-weight: 500;
        font-size: 18px;
        color: #ffffff;
        line-height: 24px;
        text-align: left;
        font-style: normal;
      }
      .time {
        display: inline-block;
        width: 79px;
        height: 22px;
        font-family:
          PingFangSC,
          PingFang SC;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        line-height: 22px;
        text-align: right;
        font-style: normal;
      }
      .location {
        // width: 257px;
        height: 22px;
        margin-top: 8px;
        font-family:
          PingFangSC,
          PingFang SC;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.4);
        line-height: 22px;
        font-style: normal;
      }
    }
  }
}

// 底部
.scroll {
  overflow: hidden;
  height: 80%;
  .item {
    padding: 8px 12px;
    width: 100%;
    height: 120px;
    background: linear-gradient(180deg, #182f4a 0%, #112034 100%);
    margin-bottom: 5px;
    .item-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left-title {
        display: flex;
        align-items: center;
      }
      img {
        width: 39px;
        height: 39px;
        margin-right: 10px;
      }
      .normal {
        font-family: PangMenZhengDao, PangMenZhengDao;
        font-weight: normal;
        font-size: 24px;
        color: #69ddff;
        line-height: 27px;
        letter-spacing: 2px;
        text-align: left;
        font-style: normal;
      }
      .middle {
        font-family: PangMenZhengDao, PangMenZhengDao;
        font-weight: normal;
        font-size: 24px;
        color: #f3b158;
        line-height: 27px;
        letter-spacing: 2px;
        text-align: left;
        font-style: normal;
      }
      .height {
        font-family: PangMenZhengDao, PangMenZhengDao;
        font-weight: normal;
        font-size: 24px;
        color: #dd5858;
        line-height: 27px;
        letter-spacing: 2px;
        text-align: left;
        font-style: normal;
      }
      .time {
        font-family:
          PingFangSC,
          PingFang SC;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        line-height: 22px;
        text-align: right;
        font-style: normal;
      }
    }
    .item-content {
      font-family:
        PingFangSC,
        PingFang SC;
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
      line-height: 28px;
      text-align: left;
      font-style: normal;
      margin-top: 4px;
    }
    .item-subscribe {
      margin-top: 8px;
      font-family:
        PingFangSC,
        PingFang SC;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.41);
      line-height: 22px;
      text-align: left;
      font-style: normal;
    }
  }
  .th-body {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    .th {
      color: rgba(255, 255, 255, 0.65);
      font-family:
        PingFangSC,
        PingFang SC;
    }
  }
  .td {
    .td-content {
      // width: 25%;
      text-align: center;
      padding: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family:
        PingFangSC,
        PingFang SC;
      font-size: 16px;
      color: #ffffff;
      text-align: left;
      font-style: normal;
    }
  }
}
