.main-container {
    .top-container {
        display: flex;
        justify-content: space-between;

        .category {
            margin-left: 10px;
            width: 104px;
            height: 24px;
            font-family: PangMenZhengDao, PangMenZhengDao;
            font-weight: normal;
            font-size: 24px;
            color: #69DDFF;
            line-height: 39px;
            letter-spacing: 2px;
            text-align: left;
            font-style: normal;
        }

        .btn-container {
            margin-left: 5px;
            width: 60px;
            height: 28px;
            background: #284C7B;
            border-radius: 4px;

            .tip {
                margin-left: 15px;
                width: 30px;
                height: 21px;
                cursor: pointer;
                text-align: center;
                font-family: PingFangSC, PingFang SC;
                font-weight: 400;
                font-size: 15px;
                color: #FFFFFF;
                line-height: 28px;
                font-style: normal;
            }
        }
    }

    .title {
        margin-left: 4px;
        width: 217px;
        height: 28px;
        font-family: PingFangSC, PingFang SC;
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 28px;
        text-align: left;
        font-style: normal;
    }

    .tip-container {
        position: relative;
        width: 155px;
        height: 50px;

        .bg {
            position: absolute;
            top: 24px;
            width: 155px;
            height: 10px;
            background: linear-gradient(90deg, #0EBEFB 0%, rgba(56, 179, 255, 0) 100%);
            opacity: 0.46;
        }

        .title {
            position: absolute;
            top: 10px;
            width: 68px;
            height: 24px;
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 17px;
            color: #FFFFFF;
            line-height: 24px;
            text-align: left;
            font-style: normal;
        }
    }

    .middle-container {
        .icon {
            color: #E02020;
        }

        .tip {
            width: 64px;
            height: 21px;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 15px;
            color: #FFFFFF;
            line-height: 21px;
            font-style: normal;
        }

        .time {
            width: 149px;
            height: 21px;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.6);
            line-height: 21px;
            text-align: left;
            font-style: normal;
        }

        textarea {
            padding: 8px 12px;
            width: 489px;
            height: 72px;
            background: #0C1C31;
            border-radius: 6px;
            border: 1px solid #046594;
            color: #FFFFFF;
        }
    }
}