.main-container {
    .catagory {
        display: inline-block;
        width: 64px;
        height: 24px;
        background: linear-gradient(128deg, #01c69a 0%, #0099ac 100%);
        border-radius: 6px;
        text-align: center;

        // margin-top: 10px;
        &.active {
            background: linear-gradient(128deg, #1884d5 0%, #0066ac 100%);
        }

        span {
            width: 52px;
            height: 18px;
            font-family:
                PingFangSC,
                PingFang SC;
            font-weight: 500;
            font-size: 13px;
            color: #ffffff;
            line-height: 24px;
            text-align: center;
            font-style: normal;
        }
    }

    .title {
        display: inline-block;
        width: 144px;
        height: 24px;
        font-family: PingFangSC, PingFang SC;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 24px;
        text-align: left;
        font-style: normal;
    }

    .detail-container {
        .tip {
            width: 34px;
            height: 21px;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 15px;
            color: #FFFFFF;
            line-height: 21px;
            text-align: left;
            font-style: normal;
        }

        .fj {
            display: inline-block;
            height: 21px;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 15px;
            color: #FFFFFF;
            line-height: 21px;
            text-align: left;
            font-style: normal;
        }
        .img-container{
            width: calc(100% - 50px);
        }

        .time {
            width: 149px;
            height: 21px;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.6);
            line-height: 21px;
            text-align: left;
            font-style: normal;
        }
    }

}